.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 241, 241);
    }
}

.user-avt {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}
.infor {
    flex: 1;
}
.user-name {
    font-size: 1.6rem;
    line-height: 22px;
}
.check {
    margin-left: 6px;
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}
.user-acount {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
}
